<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Octopus 101 Workshop App</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
	<script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/js/site.js")"></script>
	@await RenderSectionAsync("Scripts", required: true)
</body>
</html>
